<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col" colspan=2>{{ account.name }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Type</th>
            <td>{{ account.type }}</td>
        </tr>
        <tr>
            <th scope="row">Balance</th>
            <td>{{ account.balance | currency }}</td>
        </tr>
        <tr *ngIf="account.frame">
            <th scope="row">Frame</th>
            <td>{{ account.frame | currency }}</td>
        </tr>
        <tr *ngIf="account.payment">
            <th scope="row">Payment</th>
            <td>{{ account.payment | currency }}</td>
        </tr>
        <tr *ngIf="account.paymentDay">
            <th scope="row">Payment Day</th>
            <td>{{ account.paymentDay }}</td>
        </tr>
        <tr *ngIf="account.interest">
            <th scope="row">Interest</th>
            <td>{{ account.interest | percent }}</td>
        </tr>
        <tr *ngIf="account.website">
            <th scope="row">Website</th>
            <td><a href="{{ account.website }}" target="_blank">{{ account.name }}</a></td>
        </tr>
    </tbody>
</table>
